
	<div class="container">
	<h3>Your Profile</h3>
	<form id="userform">
		<input type="hidden" name="id" id="id">
		<div class="form-group">
			<label for="name">Full Name:</label>
			<input type="text" class="form-control" name="name" id="name" required="required">
		</div>
		<div class="form-group">
			<label for="position">Position:</label>
			<input type="text" class="form-control" name="position" id="position">
		</div>
		<div class="form-group">
			<label for="badge">Badge Number:</label>
			<input type="text" class="form-control" name="badge" id="badge">
		</div>
		<div class="form-group">
			<label for="phone">Phone Number:</label>
			<input type="text" class="form-control" name="phone" id="phone">
		</div>
		<div class="form-group">
			<label for="email">Email Address:</label>
			<input type="email" class="form-control" name="email" id="email" required="required">
		</div>
		<div class="form-group">
			<label for="department">Department:</label>
			<input type="text" class="form-control" name="department" id="department">
		</div>
		<div class="form-group">
			<label for="pin">Pin:</label>
			<input type="text" class="form-control" name="pin" id="pin" maxlength="4" pattern="^[0-9]{4}$" required="required">
		</div>
		<div class="form-group">
			<label for="status">Status:</label>
			<select name="status" id="status" class="form-control">
				<option value="IN">IN</option>
				<option value="OUT">OUT</option>
				<option value="INACTIVE">INACTIVE</option>
			</select>
		</div>
		<div class="form-group">
			<label for="role">Role:</label>
			<select name="role" id="role" class="form-control">
				<option value="USER">USER</option>
				<option value="MANAGER">MANAGER</option>
				<option value="ADMIN">ADMIN</option>
			</select>
		</div>
		<button type="reset" class="btn btn-default" id="reset">Reset</button>
		<button type="submit" class="btn btn-default" id="submit">Update</button>
	</form>
	</div>
	
	<script type="text/javascript">
	// Load the current data
	$(document).ready(loadForm());
	function loadForm() {
		//alert("Calling server!");
		//$.session.set("userid", "80");
		$.ajax({
			type: "GET",
			dataType: "json",
			url: "/InoutServer/rest/users/" + $.session.get("userid"),
			success: function(data) {
				//$("#result").html("data: " + data.name);
				//alert("user role: " + data.role.role);
				$("#id").val(data.id);
				$("#name").val(data.name);
				$("#position").val(data.position);
				$("#badge").val(data.badge);
				$("#phone").val(data.phone);
				$("#email").val(data.email);
				$("#department").val(data.department);
				$("#pin").val(data.pin);
				$("#status").val(data.status.status);
				$("#role").val(data.role.role);
				
				$("#status").prop('disabled', true);
				$("#role").prop("disabled", true);
			}
		});
	}
	
	// Submit form changed data
	$("#userform").submit(function(event) {
		event.preventDefault();
		$("#status").prop('disabled', false);
		$("#role").prop('disabled', false);
		//alert("status: " + $("#status").val());
		$.ajax({
			type: "PUT",
			url: "/InoutServer/rest/users/" + $.session.get("userid"),
			data: $("#userform").serialize(),
			success: function(data) {
				alert("Profile successfully updated");
			},
			/*error: function(data) {
				alert("Failed to upadte " + Object.values(data));
			},*/
			complete: function(data) {
				alert("Profile update process completed");
				loadForm();
			}
		});
	});
	// Reload page
	$("#reset").click(function() {
		loadForm();
	});
	
	</script>