<nav id="menubar" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Inout App</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/InoutServer/home.html">Home</a></li>
      <li><a href="/InoutServer/report/InoutPeriodic.html" id="mytime">My Time</a></li>
      <li id="usermenu"></li>
      <li id="reportmenu"></li>
      <li><a href="/InoutServer/logout.html">Logout</a></li>
    </ul>
    <div align="right" id="userrole"></div>
  </div>
</nav>

<script type="text/javascript">
	//$.session.set('userrole', 'ADMIN');
	//$.session.clear();
	$("#mytime").click(function(){
		$.session.set("mytime", "set");
	});
	if (!$.session.get('userid')) {
		alert("You must log in to access this page");
		window.location.href = "/InoutServer/login.html";
	}

	if ($.session.get('userrole') == "MANAGER") {
		$("#reportmenu").load("/InoutServer/menu/report.html");
	}
	if ($.session.get('userrole') == "ADMIN") {
		$("#usermenu").load("/InoutServer/menu/user.html");
		$("#reportmenu").load("/InoutServer/menu/report.html");
	}
	$("#userrole").html("Logged in as: " + $.session.get("userrole"));
	
</script>