
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	<span class="caret"></span>
	Reports
</a>
<ul class="dropdown-menu">
	<li><a href="/InoutServer/report/InoutCurrent.html">Current Status Report</a></li>
	<li><a href="/InoutServer/report/InoutDaily.html">Daily Report</a></li>
	<li><a href="/InoutServer/report/InoutMonthly.html">Monthly Report</a></li>
	<li><a href="/InoutServer/report/InoutPeriodic.html">Periodic Report</a></li>
	<!-- <li><a href="/InoutServer/report/InoutSingle.html">Single User Report</a></li> -->
</ul>