
<a class="dropdown-toggle" data-toggle="dropdown" href="#">
	<span class="caret"></span>
	Users
</a>
<ul class="dropdown-menu">
	<li><a href="/InoutServer/user/new.html">Create User</a></li>
	<li><a href="#" id="updateuser">Update User</a></li>
	<li><a href="#" id="deactivateuser">Deactivate User</a></li>
</ul>

<!-- User Management  Modal -->
<div class="modal fade" id="userSelectModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon"></span>User Selection</h4>
        </div>
        <div class="modal-body">
          
            <div class="form-group">
              <label for="userdropdown"><span class="glyphicon glyphicon-user"></span> Select User</label>
              <select class="form-control" id="userdropdown" name="userdropdown">
              	
              </select>
            </div>
            <button type="submit" id="selectbutton" class="btn btn-default btn-success btn-default">Select</button>
          
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
$("#updateuser").click(function() {
	//alert('updating user!');
	$.session.set("action", "update");
	loadModal();
	
});
$("#deactivateuser").click(function() {
	//alert("Deactivating user...");
	$.session.set("action", "deactivate");
	loadModal();
	
});

function loadModal() {
	$.ajax({
 		type: 'GET',
 	  	dataType: 'json',
 	  	url: '/InoutServer/rest/users',
 		success: function(data) {
 			//$('#result').html("data: " + $data);
 			//alert(data.length);
 			for (var i = 0; i < data.length; i++) {
 				//alert(data[i].name);
 				$("#userdropdown").append("<option value='" +
 					data[i].id + "'>" + data[i].name + "</option>");
 			}
 			$("#userSelectModal").modal("show");
 		}
 	});
}

$("#selectbutton").click(function() {
	//event.preventDefault();
	var userId = $("#userdropdown").val();
	$("#userSelectModal").modal("hide");
	if ($.session.get("action") == "update") {
		$.session.set("updateid", $("#userdropdown").val());
		window.location.href = "/InoutServer/user/update.html";
	} else if ($.session.get("action") == "deactivate") {
		$.ajax({
			type: "PUT",
			dataType: "json",
			url: "/InoutServer/rest/users/deactivate/" + $.session.get("userid"),
			complete: function(data) {
				//$("#result").html("data: " + data.name);
				//alert("user id: " + $.session.get("userid"));
				alert("User deactivated");
				window.location.href = "/InoutServer/home.html";
			}
		});
	}
});
</script>